.buttonStyle {
  background: linear-gradient(
    0deg,
    rgba(0, 172, 238, 1) 0%,
    rgba(2, 126, 251, 1) 100%
  );
  font-style: normal;
  font-weight: bold;
  width: 7%;
  border: 5px solid rgba(0, 0, 0, 0);
}

.buttonStyle:hover {
  background: #04ff00;
  box-shadow: none;
}
